body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  border: 0;
}
h2 {
  font-size: 1.4em;
  font-weight: bold;
}
h4 {
  font-weight: bold;
}

header {
  height: 69px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  display: flex;
  z-index: 5;
}
.logo {
  margin-left: 10px;
  height: 50px;
}
nav {
  text-align: right;
}
nav li {
  display: inline;
  padding: 0 10px;
  text-decoration: underline;
}
#main-content {
  top: 70px;
}
.featured {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../resources/images/img-mission-background.jpg");
  flex: 1 1200px;
}
.mission {
  background-color: black;
}

.tea-of-the-month {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.teas {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.teas li {
  width: 300px;
  height: 200px;
  list-style: none;
  margin: 10px;
  padding: 20px 0;
}
.teas img {
  width: 300px;
  height: 200px;
  flex-grow: 1;
  padding: 10px;
}

.locations-container {
  width: 1200px;
  height: 500px;
  margin: 10px auto;
  background-image: url("../resources/images/img-locations-background.jpg");
  flex: 1 1200px;
}
.locations-container h2 {
  padding-top: 10px;
}
.locations {
  display: flex;
  flex: row nowrap;
  justify-content: space-around;
  align-items: center;
  flex: 1 1200px;
}

.location {
  background-color: black;
  width: 300px;
  height: 220px;
  margin: 10px;
  padding: 14px 0;
}

footer {
  height: 300px;
}
.contact-info {
  height: 200px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
